:root {
    --clr-primary-1: hsl(345, 90%, 38%);
    --clr-primary-2: hsl(0, 84%, 56%);
    --clr-primary-3: hsl(0, 0%, 100%);
    --clr-primary-4: hsla(0, 0%, 100%, 0.102);

    --corner: 12px;
    --border-size: 1px;
    --bg-size: 10px;
    --letter-sp: 0.5px;
    --pad-0: 0.5rem;
    --pad-1: 0.9rem;

    --blur: blur(3px);
    
    --patn: url(https://cdn.discordapp.com/attachments/919511402853580860/931100063827132456/pattern.png);

    --none: none;
    --zero-px: 0px;
    --trnt: transparent;
    --no-repeat: no-repeat;

    --cnr: linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to left, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to left, var(--clr-primary-2) 0px, transparent 0px) 100% 0, linear-gradient(to bottom, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to bottom, var(--clr-primary-2) 0px, transparent 0px) 100% 0;
    --cnr-f: linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to left, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to left, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 0, linear-gradient(to bottom, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to bottom, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 0;
}
