<head>
    <link rel="stylesheet" href="https://raw.githack.com/RestrictedWord/restrictedword.github.io/main/kirka/assets/css/app.css">
    <link rel="stylesheet" href="https://raw.githack.com/RestrictedWord/restrictedword.github.io/main/kirka/assets/css/chunk-vendors.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/919511402853580860/958195193969016892/death.svg">
    <!--kirka html-->
<body>
    <noscript
      ><strong
        >We're sorry but kirka.io doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      ></noscript
    >
    <div data-v-5456ac2e="" id="app">
      <div
        data-v-dbd87de6=""
        data-v-0f24d8f9=""
        data-v-5456ac2e=""
        class="end-modal"
      >
        <div data-v-dbd87de6="" class="content">
          <div data-v-dbd87de6="" class="right-cont-content">
            <div data-v-70970863="" data-v-dbd87de6="" class="team-list-players">
              <div data-v-70970863="" class="card-cont">
                <div data-v-70970863="" class="label text-1 red win">
                  <div data-v-70970863="" class="label-text">RED TEAM</div>
                  <div data-v-70970863="" class="points">00</div>
                </div>
                <div data-v-70970863="" class="list">
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div
                        data-v-70970863=""
                        class="key"
                        style="color: var(--primary-1)"
                      >
                        0000
                      </div>
                      <div
                        data-v-70970863=""
                        class="nickNewbie"
                        style="display: flex"
                      >
                        Newbie
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value" style="width: 3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value" style="width: 3.6rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value" style="width: 4.3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value" style="width: 3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div
                        data-v-70970863=""
                        class="key"
                        style="color: var(--gray-2)"
                      >
                        0000
                      </div>
                      <div data-v-70970863="" class="nickNewbie">
                        Newbie
                        <!---->
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value" style="width: 3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value" style="width: 3.6rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value" style="width: 4.3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value" style="width: 3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div
                        data-v-70970863=""
                        class="key"
                        style="color: var(--orange-1)"
                      >
                        0000
                      </div>
                      <div data-v-70970863="" class="nickNewbie">
                        Newbie
                        <!---->
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value" style="width: 3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value" style="width: 3.6rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value" style="width: 4.3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value" style="width: 3rem">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-70970863="" class="card-cont">
                <div data-v-70970863="" class="label text-1 blue">
                  <div data-v-70970863="" class="label-text">BLUE TEAM</div>
                  <div data-v-70970863="" class="points">00</div>
                </div>
                <div data-v-70970863="" class="list">
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div
                        data-v-70970863=""
                        class="key"
                        style="color: var(--primary-1)"
                      >
                        0000
                      </div>
                      <div data-v-70970863="" class="Newbie">
                        Newbie
                        <!---->
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div
                        data-v-70970863=""
                        class="key"
                        style="color: var(--gray-2)"
                      >
                        0000
                      </div>
                      <div data-v-70970863="" class="Newbie">
                        Newbie
                        <!---->
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div
                        data-v-70970863=""
                        class="key"
                        style="color: var(--orange-1)"
                      >
                        0000
                      </div>
                      <div data-v-70970863="" class="Newbie">
                        Newbie#1
                        <!---->
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div data-v-70970863="" class="player">
                    <div data-v-70970863="" class="left">
                      <div data-v-70970863="" class="key">0000</div>
                      <div data-v-70970863="" class="Newbie">
                        Newbie
                        <!---->
                      </div>
                    </div>
                    <div data-v-70970863="" class="right">
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <!---->
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--star"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#star"
                          ></use>
                        </svg>
                      </div>
                      <div data-v-70970863="" class="value">
                        <span data-v-70970863="">0000</span>
                        <!---->
                        <svg
                          data-v-b8de1e14=""
                          data-v-70970863=""
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon svg-icon svg-icon--coin"
                        >
                          <!---->
                          <use
                            data-v-b8de1e14=""
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="/img/icons.49434381.svg#coin"
                          ></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-v-dbd87de6="" class="leaders">
              <div data-v-dbd87de6="" class="head-leaders text-2">
                <div data-v-dbd87de6="" class="head">
                  <div data-v-dbd87de6="" class="lvl-leader">00</div>
                  <div data-v-dbd87de6="" class="cont-Newbie">
                    <div data-v-dbd87de6="" class="clan-tag">Clan</div>
                    <div
                      data-v-dbd87de6=""
                      class="nickNewbie"
                      style="display: flex"
                    >
                      Newbie
                    </div>
                  </div>
                </div>
                <div data-v-dbd87de6="" class="head">
                  <div data-v-dbd87de6="" class="lvl-leader">00</div>
                  <div data-v-dbd87de6="" class="cont-Newbie">
                    <div data-v-dbd87de6="" class="clan-tag">Clan</div>
                    <div data-v-dbd87de6="" class="nickNewbie">
                      Newbie
                      <!---->
                    </div>
                  </div>
                </div>
                <div data-v-dbd87de6="" class="head">
                  <!---->
                  <div data-v-dbd87de6="" class="cont-Newbie">
                    <div data-v-dbd87de6="" class="clan-tag"></div>
                    <div data-v-dbd87de6="" class="nickNewbie">
                      Newbie#2
                      <!---->
                    </div>
                  </div>
                </div>
              </div>
              <canvas
                data-v-dbd87de6=""
                id="players-lobby"
                class="players-lobby"
                width="1760"
                height="880"
              ></canvas>
            </div>
            <div data-v-dbd87de6="" class="next-round text-2">
              <div data-v-dbd87de6="" class="level">0</div>
              <div data-v-dbd87de6="" class="next-round-label">
                QUITTING THE GAME
              </div>
              <div
                data-v-5aafd15a=""
                data-v-dbd87de6=""
                class="progress-line progress-line secondary"
              >
                <div data-v-5aafd15a="" class="progress" style="width: 50%"></div>
              </div>
            </div>
          </div>
          <div data-v-dbd87de6="" class="chat">
            <div data-v-dbd87de6="" class="buttons">
              <button
                data-v-02c36fca=""
                data-v-dbd87de6=""
                class="button exit rectangle"
                style="
                  background-color: var(--red-5);
                  --hover-color: var(--red-1);
                  --top: var(--red-1);
                  --bottom: var(--red-3);
                "
              >
                <div data-v-02c36fca="" class="triangle"></div>
                <div data-v-02c36fca="" class="text">LEAVE</div>
                <div data-v-02c36fca="" class="borders">
                  <div data-v-02c36fca="" class="border-top border"></div>
                  <div data-v-02c36fca="" class="border-bottom border"></div>
                </div>
              </button>
            </div>
            <div
              data-v-43caa132=""
              data-v-dbd87de6=""
              class="chat chat-position"
              focus-opacity=""
              end=""
            >
              <!---->
              <!---->
              <div
                data-v-76a3fe0a=""
                data-v-43caa132=""
                class="messages messages-cont"
                style="background: rgba(47, 57, 87, 0.3)"
              >
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text JOIN"
                    >Newbie joined the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text LEAVE"
                    >Newbie left the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie">
                    Aenean euismod elementum nisi quis eleifend.</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text JOIN"
                    >Newbie joined the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Metus vulputate eu scelerisque felis imperdiet proin
                    fermentum leo</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Fames ac turpis egestas maecenas</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text LEAVE"
                    >Newbie left the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Enim nunc faucibus a pellentesque</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text JOIN"
                    >Newbie joined the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Mauris ultrices eros in cursus turpis massa</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Morbi tristique senectus et netus</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Porta non pulvinar neque laoreet suspendisse interdum</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text LEAVE"
                    >Newbie left the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text JOIN"
                    >Newbie joined the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >consectetur adipiscing elit</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <!----><span data-v-76a3fe0a="" class="text LEAVE"
                    >Newbie left the game</span
                  >
                </div>
                <div data-v-76a3fe0a="" class="message">
                  <span data-v-76a3fe0a="" class="lvl">
                    [ <span data-v-76a3fe0a="" class="value">0</span> ] </span
                  ><span data-v-76a3fe0a="" class="Newbie">Newbie:</span
                  ><span data-v-76a3fe0a="" class="text Newbie"
                    >Lorem ipsum dolor sit amet</span
                  >
                </div>
              </div>
              <div data-v-6b8c8819="" data-v-43caa132="" class="input-wrapper">
                <input
                  data-v-6b8c8819=""
                  type="text"
                  id="WMNn"
                  placeholder="MESSAGE..."
                  autocomplete="off"
                  class="input"
                />
                <div
                  data-v-0686a978=""
                  data-v-6b8c8819=""
                  class="info-key-cont enter"
                >
                  ENTER
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-v-6c108d70="" data-v-dbd87de6="" class="bottom"></div>
      </div>
      <!---->
      <!---->
      <div
        data-v-5749d4aa=""
        data-v-5456ac2e=""
        id="view"
        class="view"
        style="display: none"
      >
        <div data-v-5749d4aa="" class="background mobile-fullscreen">
          <div data-v-5749d4aa="" class="container">
            <div data-v-0238bf17="" data-v-5749d4aa="" class="top-bar">
              <div data-v-0238bf17="" class="left">
                <div data-v-0238bf17="" class="home">
                  <svg
                    data-v-b8de1e14=""
                    data-v-0238bf17=""
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon-home svg-icon svg-icon--home"
                  >
                    <!---->
                    <use
                      data-v-b8de1e14=""
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="/img/icons.49434381.svg#home"
                    ></use>
                  </svg>
                </div>
                <div data-v-0238bf17="" class="text-2 name-page">GAME</div>
              </div>
              <div data-v-0238bf17="" class="close">
                <svg
                  data-v-b8de1e14=""
                  data-v-0238bf17=""
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon-close svg-icon svg-icon--close"
                >
                  <!---->
                  <use
                    data-v-b8de1e14=""
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/img/icons.49434381.svg#close"
                  ></use>
                </svg>
              </div>
            </div>
            <div data-v-5749d4aa="" class="content">
              <div data-v-5456ac2e="" data-v-5749d4aa=""></div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-v-5456ac2e=""
        class="vue-notification-group"
        style="width: 300px; bottom: 0px; left: 0px"
      >
        <span></span>
      </div>
      <!---->
      <!---->
    </div>
    <canvas
      id="game"
      style="width: 1920px; height: 1080px"
      width="3840"
      height="2160"
    ></canvas>
    <div id="labels"></div>
    --&gt;
    <div id="overlay">
      <div><span id="triangles"></span></div>
      <div><span id="fpsAvg"></span></div>
      <div><span id="fps"></span></div>
      <div><span id="ping"></span></div>
    </div>
    <script type="module" src="/assets/js/chunk-vendors.56e1db80.js"></script>
    <script type="module" src="/assets/js/app.d21698ee.js"></script>
    <script>
      !(function () {
        var e = document,
          t = e.createElement("script");
        if (!("noModule" in t) && "onbeforeload" in t) {
          var n = !1;
          e.addEventListener(
            "beforeload",
            function (e) {
              if (e.target === t) n = !0;
              else if (!e.target.hasAttribute("nomodule") || !n) return;
              e.preventDefault();
            },
            !0
          ),
            (t.type = "module"),
            (t.src = "."),
            e.head.appendChild(t),
            t.remove();
        }
      })();
    </script>
    <iframe name="__tcfapiLocator" style="display: none"></iframe>
    <script
      src="/assets/js/chunk-vendors-legacy.56e1db80.js"
      nomodule=""
    ></script>
    <script src="/assets/js/app-legacy.b056231b.js" nomodule=""></script>
    <div id="modals-container"></div>
  </body>
</head>
