
#settingsmWnwWMN
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 395px;
	margin-top: -315px;
	margin-left: -195px;
	height: 630px;
	z-index: 999;
	font-size: 12px;
	text-transform: uppercase;
	display: none;
	overflow-y: scroll;
	border: 4px solid #838383;
	border-bottom: solid 4px #5f5f5f;
	border-top: 4px solid #9d9d9d;
}
#settings
{
	margin: 6px;
	/* margin-right: 10px; */
	/* background-color: rgba(255, 255, 255, 0.32); */
	/* text-align: center; */
	padding: 20px 20px;
	border-radius: 2px;
	/* border-bottom: 4px solid #7b7b7b; */
	/* height: 260px; */
	/* box-shadow: 0px 6px #00000061; */
	margin: 0px auto;
	/* overflow-y: scroll; */
	background: #868686;
}

div#sensitivity {
    #background-color: black;
}

input[type=range]{
    width:100%;
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d9d9d9;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
    margin-top: 7px;
    border-radius: 1px;
}

.slider:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #4daaff;
  cursor: pointer;
  #border-radius:2px;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4daaff;
  cursor: pointer;
  #border-radius:2px;
}

span.labelmWnwWMN {
    color: #4daaff;
    color:#fff;
    #background-color: #009548;
    padding: 0px 8px;
    margin-left: 2px;
    /* border-radius: 3px; */
    float: right;
}

form div{
    margin-top:20px;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: -2px;
  right: 0;
  display: block;
  width: 53px;
  height: 29px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 18px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

span.slider.round {
}

label.switch {
    float: right;
}

div#aimSensitivitymWnwWMN {
    position: relative;
}

#mouseTitle, #mwnNWWTitle {
    text-align: left;
    /* font-weight: bold; */
    /* text-decoration: underline; */
    /* border-bottom: 4px solid #313131; */
    /* background: #545454; */
    /* border-radius: 3px; */
    /* border-top: 4px solid #9f9f9f; */
    padding-top: 38px;
    /* padding-bottom: 10px; */
    text-transform: uppercase;
    font-size: 24px;
    /* color: #a3a3a3; */
}

#mouseTitle {
	padding-top:0px;
}

span.mwnNMWW {
    background: #a8a8a8;
    border-bottom: 3px solid #6d6d6d;
    padding: 4px 8px;
    font-size: 10px;
    /* cursor: pointer; */
}

span.mwnNMWW:hover
{
    /* background: #168fff; */
}