:root {
  --clr-primary-1: hsl(345, 90%, 38%);
  --clr-primary-2: hsl(0, 84%, 56%);
  --clr-primary-3: hsl(0, 0%, 100%);
  --clr-primary-4: hsla(0, 0%, 100%, 0.102);

  --corner: 12px;
  --border-size: 1px;
  --bg-size: 10px;
  --letter-sp: 0.5px;
  --pad-0: 0.5rem;
  --pad-1: 0.9rem;

  --blur: blur(3px);
  
  --patn: url(https://cdn.discordapp.com/attachments/919511402853580860/931100063827132456/pattern.png);

  --none: none;
  --zero-px: 0px;
  --trnt: transparent;
  --no-repeat: no-repeat;

  --cnr: linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to left, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to left, var(--clr-primary-2) 0px, transparent 0px) 100% 0, linear-gradient(to bottom, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to bottom, var(--clr-primary-2) 0px, transparent 0px) 100% 0;
  --cnr-f: linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to left, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 100%, linear-gradient(to top, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 100%, linear-gradient(to right, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to left, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 0, linear-gradient(to bottom, var(--clr-primary-2) 1.8px, transparent 1.8px) 0 0, linear-gradient(to bottom, var(--clr-primary-2) 1.8px, transparent 1.8px) 100% 0;
}
*{
  font-family: gamefont;
}
@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/RestrictedWord/kirka/main/css/lore/client/fonts/BF_Modernista-Regular.ttf)
}
span.level-text{
    font-size: 20px !important;
}
/* Hidden*/
.pattern-bg,
.progress-label,
.gun-img,
#app>div.interface.text-2>div.background>div.bg-radial,
#auth-user>div>div>button>div.triangle,
svg.icon.svg-icon.svg-icon--cube-edit,
svg.icon.svg-icon.svg-icon--gamepad,
svg.icon.svg-icon.svg-icon--news,
svg.icon.svg-icon.svg-icon--store,
svg.icon.svg-icon.svg-icon--castle2,
svg.icon.svg-icon.svg-icon--friends,
.live-streams {
  display: var(--none) !important;
}

.close,
.icon-btn {
  background: var(--trnt) !important;
  border: var(--none) !important;
}

/* Universal Styles*/
.moneys,
#left-icons,
#right-icons>div.card-cont.text-1.inventory-card, #right-icons>div.icon-btn.text-1>div {
  backdrop-filter: var(--blur);
  text-shadow: var(--none) !important;
  background-color: var(--bg) !important;
  background: var(--cnr);
  background-repeat: no-repeat !important;
  background-size: 10px 10px !important;
  border-radius: 0px !important;
  padding: 0.9rem;
  border-top: var(--border-size) solid var(--clr-primary-1) !important;
  border-bottom: var(--border-size) solid var(--clr-primary-1) !important;
  border-left: var(--border-size) solid var(--clr-primary-1) !important;
  border-right: var(--border-size) solid var(--clr-primary-1) !important;
  letter-spacing: var(--letter-sp);
  transition: background 0.2s ease;
}

/* Right Interface */
#right-icons>div.icon-btn.text-1>div {
  margin-bottom: 1rem;
  margin-right: .5rem;
}

#right-icons>div.icon-btn.text-1>div:hover {
  background: transparent;
  border: none !important;
}

/* Auth Form */
#auth-user>div>div>button {
  --hover-color: var(--primary-2) !important;
  --top: var(--trnt) !important;
  --bottom: var(--trnt) !important;
  -webkit-text-stroke: 0px var(--trnt) !important;
  background-color: var(--bg) !important;
  text-shadow: var(--none) !important;
  box-shadow: var(--none);
  transform: skew(0deg);
  border-radius: 0px !important;
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--accent-hover);
}

#auth-user>div>div>button:hover {
  background: var(--clr-primary-4);
}

#auth-user>div>div>button:after {
  border: var(--none) !important;
}

#auth-user>div>div>button>div.text {
  transform: skew(0deg);
}

#auth-user>div {
  backdrop-filter: var(--blur);
  border-radius: 0px !important;
  border-top: var(--border-size) solid var(--clr-primary-1) !important;
  border-bottom: var(--border-size) solid var(--clr-primary-1) !important;
  border-left: var(--border-size) solid var(--clr-primary-1) !important;
  border-right: var(--border-size) solid var(--clr-primary-1) !important;
  background-color: var(--bg) !important;
  background: var(--cnr);
  background-repeat: no-repeat !important;
  background-size: 10px 10px !important;
  padding: 0.9rem;
}
.auth-form {
  margin: var(--none) !important;
}

.auth-form:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid var(--clr-primary-1);
  border-left: 10px solid transparent;
  width: 0;
}

/* Logins */
#app>div.interface.text-2>div.vm--container>div.vm--modal>div>div {
  backdrop-filter: var(--blur);
  background-color: var(--bg) !important;
  background: var(--cnr);
  background-repeat: no-repeat !important;
  background-size: 10px 10px !important;
  border-radius: 0px !important;
  transition: background 0.8s ease;
  padding: 0.9rem;
  border-top: var(--border-size) solid var(--clr-primary-1) !important;
  border-bottom: var(--border-size) solid var(--clr-primary-1) !important;
  border-left: var(--border-size) solid var(--clr-primary-1) !important;
  border-right: var(--border-size) solid var(--clr-primary-1) !important;
  letter-spacing: var(--letter-sp);
}

#app>div.interface.text-2>div.vm--container>div.vm--modal>div>div:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid var(--clr-primary-1);
  border-left: 10px solid transparent;
  width: 0;
}

#app>div.interface.text-2>div.vm--container>div.vm--modal>div>div>div.cont>div {
  background: var(--bg) !important;
  border-radius: var(--none);
  box-shadow: var(--none);
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--accent-hover);
  justify-content: start !important;
  color: white !important;
  width: 300px;
  height: 45px;
  max-width: 300px !important;
  max-height: 45px !important;
}

#app>div.interface.text-2>div.vm--container>div.vm--modal>div>div>div.cont>div:before {
  content: "";
  position: absolute;
  margin-top: 2.5rem;
  right: 3rem;
  border-bottom: 10px solid var(--clr-primary-3);
  border-left: 10px solid transparent;
  width: 0;
}

#app>div.interface.text-2>div.vm--container>div.vm--modal>div>div>div.cont>div:hover {
  background: var(--clr-primary-4) !important;
}

.icon-soc {
  margin: 1rem !important;
}

/* Profile */
#auth-user>div>div.card-cont.user-info,
#auth-user>div>div.card-cont.avatar-info {
  background: var(--trnt) !important;
  border: var(--none);
}

#auth-user>div>div.card-cont.user-info:hover,
#auth-user>div>div.card-cont.avatar-info:hover {
  clip-path: polygon(0 0,
      calc(100% - var(--corner)) 0%,
      100% var(--corner),
      100% 100%,
      var(--corner) 100%,
      0 calc(100% - var(--corner)));
  background: var(--clr-primary-4) !important;
  border-radius: var(--none);
}

#left-interface>div.moneys>div:nth-child(1),
#left-interface>div.moneys>div:nth-child(2) {
  border-top: var(--none) !important;
  border-bottom: var(--none) !important;
  border-radius: 0px;
  background: transparent;
}

#auth-user>div>div.card-cont.user-info:before,
#auth-user>div>div.card-cont.avatar-info:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid var(--clr-primary-1);
  border-left: 10px solid transparent;
  width: 0;
}

#auth-user>div>div.card-cont.user-info>div.progress-lvl>div.progress-line {
  border-radius: 0px !important;
  box-shadow: var(--none) !important;
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--accent-hover);
  background-color: var(--bg) !important;
}

#auth-user>div>div.card-cont.user-info>div.progress-lvl:before {
  content: "";
  position: absolute;
  top: 0;
  left: 89%;
  bottom: 1.9rem;
  border-bottom: 10px solid var(--clr-primary-3);
  border-left: 10px solid transparent;
}

.exp-values {
  position: absolute;
  top: 88%;
  right: 0;
  left: 28%;
  font-size: 10px !important;
  letter-spacing: var(--letter-sp);
}

.exp-values:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 48%;
  right: 0;
  bottom: 0.8rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--clr-primary-3);
}

#auth-user>div>div.card-cont.user-info>div.progress-lvl {
  margin-bottom: 0.5rem;
}

#auth-user>div>div.card-cont.user-info>div.progress-lvl>div.progress-line>div {
  background-image: linear-gradient(139deg,
      #b60a34 33.33%,
      transparent 33.33%,
      transparent 50%,
      #b60a34 50%,
      #b60a34 83.33%,
      transparent 83.33%,
      transparent 100%);
  background-size: 15px 13.04px;
  background-color: transparent !important;
  border-radius: 0px !important;
  height: 0.5rem !important;
  margin-left: 0.1rem;
}

.level-value,
.levels {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--clr-primary-3);
}

.level,
.levels {
  color: white !important;
}

.levels:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 456px;
  bottom: 0;
  border-top: 10px solid var(--clr-primary-3);
  border-left: 10px solid transparent;
  width: 0;
}

.clan-tag {
  color: var(--clr-primary-1) !important;
}

.inventory-card {
  justify-content: center !important;
}

/* Money */
.moneys {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  margin-left: 0.5rem !important;
  margin-top: var(--none) !important;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse;
}

.moneys:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid var(--clr-primary-1);
  border-left: 10px solid transparent;
  width: 0;
}

/* Player */
.head-right:hover {
  color: #ffffffcf;
}

/* Left Icons */
#left-icons {
  position: absolute;
  top: 9.1rem;
  left: 0;
  padding-bottom: 3rem;
}

#left-icons:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid var(--clr-primary-1);
  border-left: 10px solid transparent;
  width: 0;
}

.icon-btn {
  height: 20px !important;
}

.icon-btn:hover>.wrapper {
  transform: translateY(-0px) !important;
}

.wrapper:hover {
  background: var(--clr-primary-4);
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  clip-path: polygon(0 0,
      calc(100% - var(--corner)) 0%,
      100% var(--corner),
      100% 100%,
      var(--corner) 100%,
      0 calc(100% - var(--corner)));
}

.wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.wrapper:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Alert */
.alert-default {
  border-radius: var(--none) !important;
  backdrop-filter: var(--blur);
  background-color: var(--bg) !important;
  background: var(--cnr-f) !important;
  background-repeat: no-repeat !important;
  background-size: 10px 10px !important;
  border-top: var(--border-size) solid var(--accent) !important;
  border-bottom: var(--border-size) solid var(--accent) !important;
  border-left: var(--border-size) solid var(--accent) !important;
  border-right: var(--border-size) solid var(--accent) !important;
  letter-spacing: var(--letter-sp);
  padding: 0.5rem !important;
}

/* Logo */
#app>div.interface.text-2>img {
  content: var(--logo) !important;
}

/* Background */
#app>div.interface.text-2>div.background {
  background: var(--patn) repeat;
  -webkit-animation: loopPattern-data-v-50a88 80s linear infinite;
  animation: loopPattern-data-v-50a88834 80s linear infinite;
  opacity: 1;
}
