.interface>.right-icons {
	right: unset;
	bottom: 0;
	width: 60rem;
	height: 5rem;
	z-index: 2;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

.interface>.right-icons>div{
	display: flex;
	justify-content: center;
	width: 6rem;
	height: 2rem;
	margin: unset;
	padding: unset;
	border-top: unset;
	background-color: unset;
	border-bottom: unset;
	font-size: 1rem;
}

.wrapper>svg,
.right-icons>div>img,
.settings-and-socicons>:nth-child(1){
	display: none;
}

.interface>.left-icons>div>.icon-btn,
.interface>.left-icons>div{
	background: unset;
	border-top: unset !important;
	border-bottom: unset;
}

.left-icons{
	left: 30% !important;
	top: 89% !important;
}

.settings-and-socicons>:nth-child(1) {
	display: none
}
.interface>.left-icons,
.interface>.left-icons>div{
	display: flex;
	flex-direction: row;
	z-index: 10;
}
.interface>.left-icons>div>.icon-btn>.wrapper,
.interface>.left-icons>div>.icon-btn:hover>.wrapper,
.interface>.left-icons>div:hover>.wrapper{
	transform: unset;
	border: unset;
}
.icon-btn>.wrapper{
	margin: unset;
}