.interface>.right-icons {
	right: unset;
	bottom: 0;
	width: 60rem;
	height: 5rem;
	z-index: 10;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.interface>.right-icons>div {
	display: flex;
	justify-content: center;
	width: 6rem;
	height: 2rem;
	margin: unset;
	padding: unset;
	border-top: unset;
	background-color: unset;
	border-bottom: unset;
	font-size: 1rem;
}

.interface>.right-icons>:nth-child(2) {
	margin-bottom: 0.26rem;
}

.interface>.right-icons svg,
.gun-img {
	display: none;
}

.interface>.right-icons .wrapper {
	transform: none;
	height: 13px;
}

.right-icons {
	flex-direction: row !important;
}

.svg-icon--news,
.svg-icon--cube-edit,
.svg-icon--gamepad,
.svg-icon--store,
.svg-icon--castle2 {
	display: none;
}

.left-icons,
.left-icons>div {
	display: flex !important;
	flex-direction: row !important;
}

.left-icons .icon-btn {
	background: #c4595900 !important;
	border-top: 2px solid #fff0 !important;
	border-bottom: rgba(176, 35, 35, 0) !important;
}

.left-icons {
	left: 30% !important;
	top: 89% !important;
}

.settings-and-socicons>:nth-child(1) {
	display: none
}