/* Universal */
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Universal/uni.css");
/* Main Interface */
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/background.css");
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/top-nav.css");
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/bottom-nav.css");
/* Main Interface / Containers */
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/containers/servers.css");
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/containers/inventory.css");
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/containers/modal.css");
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Main-Interface/containers/friends.css");
/* Loading */
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Loading-Screen/loading.css");
/* Game Interface */
@import url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/Game-Interface/game.css");
:root{
    --clr-primary-1: hsl(228, 5%, 18%);
    --clr-primary-2: hsl(228, 4%, 25%);
    --clr-primary-3: #000;
    --clr-primary-4: #000;
    --clrA-primary-1: hsla(240, 4%, 14%, 0.82);
    --clr-txt-1: hsl(0, 0%, 100%);
    --img-1: url("https://restrictedword.github.io/kirka/CustomCSS/Glassmorphism/src/img/blur-bg.png");  
    --sz-1: 0.25rem;
    --sz-2: 0.5rem;
    --sz-3: 1rem;
    --sz-4: 2rem;
    --szB-1: 0.063rem;
    --brder-sz-1: 1px;
    --tnsfrm-1: scale(0.8);
    --blr-1: blur(20px);
    --type-1: solid;
    --tSec-1: 0.8s;
    --content-1: "CSS BY WORD x IRRVLO";
}