/* Universal */
@import url("Universal/uni.css");
/* Main Interface */
@import url("Main-Interface/background.css");
@import url("Main-Interface/left-icons.css");
@import url("Main-Interface/left-interface.css");
@import url("Main-Interface/play.css");
/* Game Interface */
:root{
    --clr-primary-1: hsl(228, 5%, 18%);
    --clr-primary-2: hsl(228, 4%, 25%);
    --clr-primary-3: #000;
    --clr-primary-4: #000;
    --clrA-primary-1: hsla(240, 4%, 14%, 0.82);
    --clr-txt-1: hsl(0, 0%, 100%);
    --font: url(https://raw.githubusercontent.com/RestrictedWord/kirka/main/css/lore/client/fonts/BF_Modernista-Regular.ttf);
    --img-1: url("img/blur-bg.png");  
    --sz-1: 0.25rem;
    --sz-2: 0.5rem;
    --sz-3: 1rem;
    --sz-4: 2rem;
    --szB-1: 0.063rem;
    --brder-sz-1: 1px;
    --tnsfrm-1: scale(0.8);
    --blr-1: blur(20px);
    --type-1: solid;
    --tSec-1: 0.8s;
    --content-1: "CSS BY WORD x IRRVLO";
}