#view {
	background: var(--img-1);
	background-size: cover;
}
.top-bar>.close {
	background: var(--clr-primary-1);
	border-radius: var(--sz-1);
	margin-top: var(--sz-2);
	margin-right: var(--sz-2);
	height: var(--sz-4);
	width: var(--sz-4);
}

.top-bar>.close>.svg-icon {
	transform: var(--tnsfrm-1);
}
.background>.container {
	background: var(--clrA-primary-1);
	backdrop-filter: var(--blr-1);
	border: var(--szB-1) var(--type-1) var(--clr-primary-2);
	transition: all ease var(--tSec-1);
}
.view>.background {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: unset;
	padding: unset;
	border-radius: unset;
	transition: all ease 0.8s;
}

.view>.background:before {
	content: var(--content-1);
	position: absolute;
	font-size: 0.875rem;
	background: #2b2c30;
	padding: 0.4rem 0.25rem 0.25rem 0.25rem;
	border-radius: 0.25rem;
	z-index: 1;
	bottom: -.875rem;
	border: 1px solid #3c3d41;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.container>.top-bar {
	background: unset;
	box-shadow: unset;
}

.left>.name-page {
	background: #2b2c30;
	box-shadow: unset;
	border-radius: 0.25rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem
}

.left>.home {
	background: #2b2c30;
	border: unset;
	border-radius: 0.25rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}

.left>.text-2 {
	text-shadow: unset;
}