.content>.top-medium{
    background: var(--clr-primary-3);
    padding: var(--sz-2);
    border-radius: var(--sz-2)
  }
  .content>.top-medium>.medium{
    margin: unset;
  }
  .content>.top-medium>.top{
    margin-bottom: var(--sz-2)
  }
  .content>.top-medium>div>.card{
    background: var(--clr-primary-4)
  }
  .content>.top-medium>div>.progress>.progress-line{
    background: var(--clr-primary-3);
  }
  .content>.top-medium>.medium>div,
  .content>.top-medium>.top>div:nth-child(1){
    margin: unset;
  }