* {
	font-family: gamefont !important;
	font-weight: 100 !important;
	text-shadow: unset !important;
	box-shadow: unset !important;
  -webkit-text-stroke: unset !important;
}

@font-face {
	font-family: gamefont;
	src: url(https://raw.githubusercontent.com/RestrictedWord/kirka/main/css/lore/client/fonts/BF_Modernista-Regular.ttf)
}

#view {
	background: url(https://media.discordapp.net/attachments/919511402853580860/980760417477460048/unknown.png?width=1194&height=671);
	background-size: cover;
}
.background>.pattern-bg,
.background>.bg-radial {
	visibility: hidden;
}

#app>div.interface.text-2>div.background {
	background: url(https://media.discordapp.net/attachments/919511402853580860/980760417477460048/unknown.png?width=1194&height=671);
	background-size: cover;
}

.subject>.rar-skin {
	height: 5rem;
	border-radius: 0.25rem;
	transform: translateX(-0.2rem);
	z-index: 1;
}

.subject>.hover-bg {
	background: unset;
	backdrop-filter: blur(20px);
}

.subject>.hover-btns-group>.button {
	--top: unset !important;
	--bottom: unset !important;
	-webkit-text-stroke: unset;
	background: #2b2c30 !important;
	border-radius: 0.25rem;
	padding: 0.25rem;
	border: 1px solid #3c3d41;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.subject>.hover-btns-group>.button>.triangle {
	display: none;
}

.subject>.hover-btns-group>.button:after {
	all: unset;
}

.background>.container {
	background: #212124d1;
	backdrop-filter: blur(20px);
	border: 1px solid #3c3d41;
	transition: all ease 0.8s;
}

#view>div>div>div.content {
	transition: all ease 0.8s;
}

.container>.top-bar {
	background: unset;
	box-shadow: unset;
}

.left>.name-page {
	background: #2b2c30;
	box-shadow: unset;
	border-radius: 0.25rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem
}

.left>.home {
	background: #2b2c30;
	border: unset;
	border-radius: 0.25rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}

.left>.text-2 {
	text-shadow: unset;
}

.hover-btns-group>.item-name {
	left: unset;
	font-size: 0.875rem;
	background: #393a3f;
	padding: 0rem 1.25rem 0rem 1.25rem;
	border-radius: 0.5rem;
}

.content>.subjects {
	background: #24262c;
	border: 0.25rem solid #24262c;
	border-bottom: 0.55rem solid #24262c;
	border-top: 0.55rem solid #24262c;
	height: 31rem;
	width: 54rem;
	border-radius: 0.5rem;
	margin-left: 0.85rem;
	margin-top: 0.3rem
}

.content>.subjects>div:nth-child(1),
.content>.subjects>div:nth-child(2),
.content>.subjects>div:nth-child(3),
.content>.subjects>div:nth-child(4),
.content>.subjects>div:nth-child(5) {
	margin-top: 0.25rem
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #131417;
}

::-webkit-scrollbar-thumb {
	background: #333438;
}

.content>.tab-bar {
	background: unset;
	border-bottom: 2px solid #3c3d41
}

.content>.inventory {
	width: 90rem;
	height: unset;
}


.tab-bar>.tab {
	font-weight: unset;
	transform: unset;
	background: unset;
	color: #98989a;
}

.tab-bar>.tab:hover {
	color: white;
	border-bottom: 2px solid white;
	background: unset
}

.tab-bar>.active {
	color: white;
	border-bottom: 2px solid white;
}

.tab-bar>.tab>.name {
	transform: unset;
}

.subjects>.subject {
	background: #292b31;
	border-radius: 0.25rem;
	width: 10rem;
}

.subject>.selected {
	top: 0.25rem;
	right: 0.25rem;
}

.view>.background {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: unset;
	padding: unset;
	border-radius: unset;
	transition: all ease 0.8s;
}

.view>.background:before {
	content: "CSS BY WORD x IRRVLO";
	position: absolute;
	font-size: 0.875rem;
	background: #2b2c30;
	padding: 0.4rem 0.25rem 0.25rem 0.25rem;
	border-radius: 0.25rem;
	z-index: 1;
	bottom: -.875rem;
	border: 1px solid #3c3d41;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.inventory>.avatar {
	background: unset;
}

.avatar>.player-lobby {
	margin-left: -12rem
}

.avatar>.avatar-head {
	position: absolute;
	margin: unset;
	transform: translate(0.5rem, 0.5rem)
}

.avatar>.avatar-head>.level {
	padding: 0.2rem 0.45rem;
	margin-right: 0.5rem;
	background: #292b31;
	font-size: 1.5rem;
	min-width: unset;
	color: white;
}

.avatar>.avatar-head>.nickname {
	font-size: 1.5rem;
}

.avatar>.avatar-head>.nickname img {
	margin-left: 0.25rem
}

.avatar>.bottom {
	background: #24262c;
	border-radius: 0.5rem;
	width: 33.95rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	bottom: 0;
	left: 0.65rem;
	margin-bottom: 0.5rem
}

.avatar>.bottom>.gun {
	border-radius: 0.5rem;
	background: #292b31;
	margin: 0.25rem;
}

.avatar>.bottom>.gun>.name-gun {
	font-size: 1.2rem;
	margin-top: unset;
}

.bottom-subj>.count {
	bottom: 0.25rem;
	right: 0.25rem;
	border-radius: .25rem;
	background: #393a3f;
	padding: .2rem .5rem;
}

/* Friends */
.content>.friends {
	width: 100%;
	height: 50rem;
}

.friends>.content {
	display: flex;
	align-content: center;
	align-items: center;
	margin-top: 0.5rem;
	width: 45rem;
}

.friends>.content>.tabs {
	position: fixed;
	background: unset;
	width: 44rem;
	border-bottom: 2px solid #3c3d41;
	box-shadow: unset;
	color: #98989a;
	z-index: 1;
}

.friends>.content>.tabs>.limit {
	background: #2b2c30;
	border-radius: 0.25rem;
	border-left: unset;
	margin-bottom: 0.5rem;
}

.friends>.content>.tabs>.left>.active-tab {
	color: white;
	background: unset;
	border-right: unset;
	border-left: unset;
	border-bottom: 2px solid white
}

.friends>.content>.tabs>.left>.active-tab:hover,
.friends>.content>.tabs>.left>.tab:hover {
	color: white;
	border-bottom: 2px solid white;
}

.content>.allo {
	height: unset;
}

.allo>.list,
.allo>.requests {
	position: absolute;
	width: 44rem;
	height: 44rem;
	left: 0;
	bottom: 0;
}

.list>.friend,
.requests>.friend {
	padding: 0.25rem;
	width: 43rem;
	background: #24262c;
}

.list>.friend:hover,
.requests>.friend:hover {
	background: #272a31;
}

.friend-left>.level-cont>.level-label {
	display: none;
}

.friend-left>.level-cont {
	background: #2b2c30;
	border-radius: 0.25rem;
	border: unset;
}

.friend-desc>.nickname img {
	margin-left: 0.25rem;
}

.friend-right>.add-delete>.delete {
	background: #2b2c30;
	border-radius: 0.25rem;
	border: unset;
	width: 2.5rem;
	margin-left: 0.25rem;
}

.friend-right>.add-delete>.add {
	background: #2b2c30;
	border-radius: 0.25rem;
	border: unset;
	width: 3.45rem
}

.friend-right>.add-delete>.add:hover {
	background: #11ff1126;
}

.friend-right>.add-delete>.delete>svg {
	transform: scale(0.75);
	transition: all ease 0.25s;
}

.friend-right>.add-delete>.delete:hover {
	background: #e24f4f5c;
}

.friend-right>.add-delete>.delete>svg:hover {
	transform: rotate(15deg) scale(0.75);
}

.friends>.add-friends {
	position: absolute;
	background: unset;
	height: 4rem;
	visibility: hidden;
}

.add-friends>.head-text {
	display: none;
}

.add-friends>.input {
	margin-top: 0.5rem;
	padding: 0 0.5rem;
}

.add-friends>.input>.wrapper-input>.label {
	display: none;
}

#nprogress .bar {
	background: white
}

/* Servers */
.container-games>.chat-cont {
	visibility: hidden;
	margin-top: 1.2rem;
	margin-right: 0.5rem;
	width: 2.1rem;
	height: 0.875rem;
}

.container-games>.chat-cont:before {
	content: "CHAT";
	position: absolute;
	font-size: 0.875rem;
	visibility: visible;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background: #2b2c30;
	padding: 0.25rem;
	border-radius: 0.25rem;
	transition: all ease 0.8s;
}

.container-games>.chat-cont:hover:before {
	content: "";
	background: unset;
}

.container-games>.chat-cont:hover {
	visibility: visible;
	width: unset;
	height: unset;
}

.message>.text>button {
	visibility: hidden;
}

.chat-cont>.chat>.messages {
	border-radius: 0.5rem;
	background: #24262c !important;
}

.chat-cont>.chat-head>.rules>.rules-icon {
	display: none;
}

.chat-cont>.chat>.input-wrapper>.input {
	background: #24262c;
}

.preview.text-2>img {
	border-radius: 0.5rem;
}

.img-bg>.head>.map-name {
	color: white;
	background: #2b2c30;
	border-radius: 0.25rem;
	padding: 0.25rem;
	width: 19.35rem;
}

.img-bg>.head {
	margin: 0.3rem;
}

.preview.text-2>.img-bg {
	border-radius: 0.5rem;
	align-items: center;
	padding: unset;
	width: 20rem;

}

.container-games>.preview.text-2 {
	height: 27.6rem;
	margin: 3rem 0.5rem 0.5rem 0.5rem;

}

.img-bg>.bottom {
	background: #24262c;
	padding: 0.25rem;
	border-radius: 0.5rem;
	width: 19.35rem;
	margin: 0.25rem 0.25rem 0.3rem 0.25rem
}

.img-bg>.bottom>.bottom-right>.online {
	background: #2b2c30;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.img-bg>.bottom>.bottom-right>.description {
	margin-top: 0.25rem;
	background: #2b2c30;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.img-bg>.bottom>.button {
	--top: unset !important;
	--bottom: unset !important;
	-webkit-text-stroke: unset;
	background-color: #2b2c30 !important;
	box-shadow: unset;
	border-radius: 0.5rem;
	margin: 0.6rem 0.75rem 0.6rem 0.6rem;
}

.img-bg>.bottom>.button:hover {
	filter: brightness(1.2);
}

.img-bg>.bottom>.button:after {
	all: unset;
}

.img-bg>.bottom>.button>.triangle {
	display: none;
}

.container-games>.list-cont {
	margin-top: 0.6875rem;
}

.container-games>.list-cont>.tabs {
	background: unset;
	border-bottom: 2px solid #3c3d41;
}

.list-cont>.tabs>.tab {
	background: unset;
	border-left: unset;
	border-right: unset;
}

.list-cont>.tabs>.tab:hover {
	color: white;
	border-bottom: 2px solid white;
}

.list-cont>.tabs>.active {
	color: white;
	border-bottom: 2px solid white;
}

.list>.server {
	position: relative;
	background-color: #24262c;
}

.server>.right>.online {
	background: #2b2c30;
	border-radius: 0.25rem;
	padding: 0.15rem 0.25rem 0.15rem 0.25rem;
	margin: 0.25rem;
}

.server>.right>.button {
	--top: unset !important;
	--bottom: unset !important;
	-webkit-text-stroke: unset;
	position: absolute;
	visibility: hidden;
	background-color: unset !important;
	box-shadow: unset;
	transform: skew(0deg);
	height: 100%;
	width: 100%;
	left: 0;
}

.server>.right>.button:before {
	content: "";
	position: absolute;
	visibility: visible;
	font-size: 1.2rem;
	height: 100%;
	width: 100%;
	padding-top: 0.575rem;
}

.server>.right>.button:hover:before {
	content: "join";
	background: #24262c;
}

.server>.right>.button:after {
	all: unset;
}

.server>.right>.button>.text {
	transform: skew(0deg);
}

/* Top Nav */
img#logo.logo,
.triangle {
	display: none;
}

.interface>.background {
	display: flex;
	justify-content: center;
}

.interface>.background::before {
	content: "";
	position: absolute;
	width: 60rem;
	height: 5rem;
	background: #212124d1;
  backdrop-filter: blur(20px);
	border-radius: 0.5rem;
	margin: 0.5rem;
	border: 1px solid #3c3d41;
	z-index: 2;
}
.interface>.background::after {
	content: "";
	position: absolute;
	width: 60rem;
	height: 5rem;
	background: #212124d1;
  backdrop-filter: blur(20px);
	border-radius: 0.5rem;
	margin: 0.5rem;
	border: 1px solid #3c3d41;
	z-index: 2;
  bottom: 0;
}
#play {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0.25rem;
	bottom: unset;
	right: unset;
	width: 60rem;
  z-index: 2;
}

#play>.play-content {
	display: unset;
}

#play>.play-content>.select-region {
	position: absolute;
	top: 0.875rem;
	right: 0.25rem;
	transform: scale(0.8);
	z-index: 10;
	height: 4rem;
	padding: 0.5rem;
	background: #24262c;
	border: unset;
}

.select-region img {
	filter: grayscale(100%) brightness(2);
}

#play>.play-content>.select-regions-cont {
	position: absolute;
	top: 0.25rem;
	right: calc(1rem - 17.7rem);
	bottom: unset;
	background: #212124d1;
  backdrop-filter: blur(20px);
	border: 1px solid #3c3d41;
}

#play>.play-content>.play-content-up {
	position: absolute;
	top: 0.3rem;
	right: 0;
	height: 6.2rem;
}

#play>.play-content>.play-content-up>.private-btn {
	position: absolute;
	color: transparent;
	margin: unset;
	bottom: 0;
	left: 22rem;
	z-index: 1;
	transition: all ease 0.25s
}

.custom-checkbox>span:before {
	background-color: #393a3f !important;
	border: unset !important;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

#play>.play-content>.play-content-up>.select-mod {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	top: calc(1rem - 0.4rem);
	right: 5.7rem;
	height: 4rem;
	transform: scale(0.8);
	padding: 0.6rem;
	border: unset;
	background: #24262c;
}

.select-mod>.select-mods-cont {
	position: absolute;
	top: 8rem;
	right: calc(1rem - 7.5rem);
	width: 23.2rem;
	background: #212124d1;
  backdrop-filter: blur(20px);
	border: 1px solid #3c3d41;
	overflow: hidden;
	height: 22rem;
	transform: scale(1.2);
}

.select-mod>.select-mods-cont>hr {
	display: none;
}

[class*="select-mods"]>div>div:hover {
	background: #ffffff08;
	border-radius: 0.25rem;
}

#play button {
	--hover-color: unset !important;
	--top: unset !important;
	--bottom: unset !important;
	transform: scale(0.6);
	background: #2b2c308a !important;
	backdrop-filter: blur(3px);
	box-shadow: unset !important;
	border: 2px solid #3c3d41;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
	transition: all ease 0.25s
}

#play button:hover {
	filter: brightness(1.2);
	transform: scale(0.625);
}

#play button:before,
#play button:after {
	all: unset;
}

@media(max-width: 1600px) {

	.left-interface,
	.left-icons,
	#team-section,
	.right-interface {
		transform: scale(0.6) !important
	}
}

.vm--container {
	display: flex;
}

#view>div>div>div.content>div>div.vm--container>div.vm--modal>div>div {
	position: absolute;
	top: 1rem;
  border: 1px solid #3c3d41;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.percents {
	background: #2b2c308a !important;
	backdrop-filter: blur(3px);
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border-radius: 0.5rem;
  z-index: 10;
}

.percent>.circle-percent {
	position: absolute;
	left: calc(0.1rem - 0.35rem);
	height: 1.5rem;
	width: 0.5rem;
	border-radius: 0.15rem
}

#view>div>div>div.content>div>div.vm--container>div.vm--modal>div>div {
	background: #212124d1;
	backdrop-filter: blur(20px);
}

.bottom>.chests-select-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #292b31;
    border-radius: 1rem;
    width: 10rem;
    transform: scale(0.85);
    margin: unset;
}
.chest-select>.number{
     border-radius: 0.25rem;
    background: #393a3f;
    padding: 0.1rem 0.4rem;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.chest-container>.label-name{
  top: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  background: #2b2c308a;
	backdrop-filter: blur(3px);
  border-radius: 1rem;
  padding: 0.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  z-index: 10;
}
.bottom>button,
.circle-bg>button{
  --top: unset!important;
  --bottom: unset!important;
  background: #2b2c308a!important;
  border-radius: 1rem!important;
  transform: unset !important;
}
.bottom>button>.text,
.circle-bg>button>.text{
  transform: unset !important;
}
.bottom>button:after,
.bottom>button:before,
.circle-bg>button:after,
.circle-bg>button:before{
  all: unset !important;
}
#view > div > div > div.content > div > div.vm--container > div.vm--modal > div > div > div > div.chest-wrapper{
      border-bottom: 0.4rem solid #ffffff2e;
}
.vm--modal>.wrapper-modal,
.vm--container>.vm--overlay{
  background-color: unset;
}
.interface>.left-interface{
  position: absolute;
  display: flex;
  align-items: center;
  width: 60rem;
  height: 5rem;
  left: unset;
  margin: 0.5rem;
}
.left-interface>.auth-user{
  position: absolute;
  left: 0.5rem;
  z-index: 3;
}
.profile>.avatar-info{
  position: relative;
  display: flex;
  background: unset;
  border: unset;
  margin: unset;
  padding: unset;
  width: 6rem;
  height: 5rem;
  z-index: 10;
  transform: scale(0.9);
  padding: unset;
}
.profile>.avatar-info:hover{
  background: unset;
}
.profile>.avatar-info>.avatar{
  position: absolute;
  border: 0.25rem solid #24262c;
  border-radius: 0.5rem;
  transition: all ease 0.25s;
}
.profile>.avatar-info>.avatar:hover{
  filter: brightness(1.2);
  background-size: calc(510px) !important;
  background-position: calc(-68px) calc(-70px) !important;
  transition: all ease 0.25s;
}
.profile>.avatar-info>.username{
  position: absolute;
  transform: rotate(-90deg) scale(0.9);
  left: calc(0.1rem - 2.5rem);
}
.profile>.user-info{
  position: absolute;
  visibility: hidden;
  left: calc(0.1rem - 0.7rem);
  bottom: 0;
  width: 21.65rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: unset;
  backdrop-filter: blur(20px);
  border: unset;
  opacity: 0;
  transition: all ease 0.25s;
}
.profile>.user-info:before{
  content: "";
  visibility: visible;
  left: calc(0.1rem - 0.7rem);
  bottom: 0;
  width: 21.65rem;
  height: 12rem;
  position: absolute;
}
.profile>.user-info:hover{
  visibility: visible;
  opacity: 1;
  bottom: calc(0.1rem - 5.8rem);
  background: #212124d1;
  border: 1px solid #3c3d41;
  backdrop-filter: blur(20px);
  height: 5rem;
}
.profile>.user-info>.progress-label{
  display: none;
}
.left-interface>.moneys{
  position: absolute;
  top: 0.6rem;
  left: 7.25rem;
  z-index: 10;
  background: #24262c;
  border-radius: 0.5rem;
}
.left-interface>.moneys>div{
  background: unset;
  border: unset;
}